<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.svankayalapati.knoxapp">


    <uses-permission android:name="android.permission.sec.MDM_HW_CONTROL" />
    <uses-permission android:name="android.knox.permission.KNOX_HW_CONTROL" />
    <uses-permission android:name="android.permission.sec.MDM_LICENSE_LOG" />
    <uses-permission android:name="android.permission.sec.MDM_WIFI"/>
    <uses-permission android:name="android.permission.sec.MDM_PHONE_RESTRICTION" />
    <uses-permission android:name="android.permission.sec.MDM_LOCATION" />
    <uses-permission android:name="android.permission.sec.MDM_ENTERPRISE_CONTAINER" />
    <uses-permission android:name="android.permission.KNOX_CONTAINER" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.svankayalapati.knoxapp.SampleAdminReceiver"
            android:description="@string/enterprise_device_admin_description"
            android:label="@string/enterprise_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.svankayalapati.knoxapp.SampleLicenseReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="edm.intent.action.license.status" />
                <action android:name="edm.intent.action.knox_license.status" />
            </intent-filter>
        </receiver>

    </application>

</manifest>




